@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ededed;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}
/* styles/globals.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Make it responsive */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
  .header {
    font-size: 18px;
  }
}

body {
  margin-top: 40px;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.myname {
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  text-shadow: 0 0 0px rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: var(--foreground);
}
